.desktop-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    display: block; /* Mostrar el modal */
    z-index: 1000; /* Asegura que esté por encima del contenido principal */
}

/* Ocultar el contenido principal */
.content {
    display: none;
}
